<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HouseManagement_Prj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HouseManagement_Prj.Properties.Settings.House_ManagementConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=House_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HouseManagement_Prj.Properties.Settings>
            <setting name="Chbox_SaveCodePass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AgencyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AgencyPass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastChargeDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpChargeDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FewConnectRCV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDateConnectRCV" serializeAs="String">
                <value>2010-06-01</value>
            </setting>
            <setting name="AllFewConnectRCV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </HouseManagement_Prj.Properties.Settings>
    </userSettings>
</configuration>